/* App.css */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(40, 44, 52, 0.8); /* Semi-transparent background to ensure text readability */
  padding: 20px;
  border-radius: 10px;
  color: white; /* Ensure the text color is white */
}

.menu {
  margin-bottom: 20px;
}

.menu-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.menu-item {
  padding: 10px 20px;
  border-radius: 5px;
  /* Remove background color to make it transparent */
}

.menu-item a {
  text-decoration: none;
  color: white; /* Set text color to white */
  font-weight: bold;
}

.menu-item a:hover {
  text-decoration: underline;
}
